:root{
    --color-one: rgb(0, 128, 0);
    --color-two: rgb(43, 105, 45);
    --color-three: rgb(21, 102, 41);
    --color-underline: rgba(0, 165, 0, 0.233);
    --color-four: rgb(43, 197, 43);
    --color-five: rgb(134, 230, 134);
    --color-six: rgb(217, 223, 217);
    
    --theme-one: rgb(255, 255, 255);
    --theme-two: rgb(217, 217, 217);
    --theme-three: rgb(241, 241, 241);
    --theme-four: rgba(255, 255, 255, 0.13);
    --theme-five: rgb(224, 224, 224);
    --theme-six: rgb(218, 218, 218);
    --theme-seven: rgb(226, 226, 226);
    --theme-eight: rgb(233, 233, 233);
    --theme-nine: rgba(255, 255, 255, 0.281);
    --theme-invert: rgb(0, 0, 0);

}
#root{
    background-color: var(--theme-two);
}
.bg{
    background-color: var(--theme-two);
    width: 100%;
    height: 100%;
}
.scroll-up{
    margin-left: 20px;
    margin-top: 5px;
    position: fixed;
    z-index: 0;
    width: 20%;
}
.custom-navbar {
    width: 100%;
    background-color: var(--color-one);
    color: var(--theme-one);
    z-index: 3;
    font-size: large;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  .sb{
    margin: 20px;
    width: 20%;
    height: 100%;
    display: block;
    z-index: 2;
}
.sb-fixed{
    position: fixed;
}
html{
    background-color: var(--theme-two);
}
.box {
    border-radius: 10px;
    background-color: var(--theme-three);
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box .little-sharp{
    border-radius: 5px;
    margin-bottom: 10px;
}
.box-invert {
    border-radius: 10px;
    background-color: var(--theme-two);
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* .box:hover{
    background-color: #fff;
}
.box-dark:hover{
    background-color: #367e39;
} */
.box-dark{
    background-color: var(--color-two);
    color: var(--theme-one);
}
.box-dark hr{
    border: solid 1px var(--theme-one);
    border-radius: 2px;
    opacity: 50%;
}
.box-title{
    padding-left: 20px;
    font-size: larger;
    color: var(--color-three);
    font-weight: bold;
}
.box-title-dark{
    padding-left: 20px;
    font-size: larger;
    color: var(--theme-one);
}
.content{
    background-color: var(--theme-two);
}
/* AccountInfo */
.accountinfo{
    height: auto;
}
.account-table{
    width: 100%;
    height: 80%;
    white-space: nowrap;
}
.account-table-text h2{ /* Lebar elemen anak 100% dari lebar parent */
  
    @media (max-width: 500px) {
      display: none; /* Ketika lebar parent kurang dari 500px, elemen anak mengecil menjadi 50% */
    }
  }
.photo{
    width: 50%;
    padding: 10px;
}
.acImg{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: var(--theme-invert);
}
.account-table hr{
    border: solid 3px var(--color-three);
    border-radius: 2px;
}
/* Navigation */
.navigation{
    height: auto;
}
.navigation .nav-menu{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: dense;
    row-gap: 10px;
    column-gap: 10px;
}
.navigation .nav-menu a{
    text-align: center;
    background-color: var(--theme-four);
    padding:20px 0px;
    color: var(--theme-two);
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}
.navigation .nav-menu a:hover{
    background-color: var(--theme-nine);
}
.navigation .nav-menu a i{
    scale: 2;
}
/*main page */
.main{
    margin: 20px;
    height: auto;
    width: 75%;
}
@media (max-width: 768px) {
    .main {
      width: 100%; /* Lebar 50% ketika layar lebih besar dari 768px (misalnya, layar tablet) */
    }
  }
.welcome{
    height: 500px;
    display: flex;
    justify-content: center; /* Rata tengah secara horizontal */
    align-items: center; 
}
.box-small{
    height: 200px;
    margin-right: 20px;
    display: flex;
}
.last{
    margin-right: 0;
}
.box-container{
    display: flex;

}
.close-button{
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.close-button:hover{
    background-color: var(--theme-five);
}
.buku-dipinjam{
    width: 50%;
}
.align-left{
    text-align: left;
    justify-content: end;
    display: flex;
    width: 50%;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.number-bg{
    background-color: var(--color-six);
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-radius: 100%;
    width: 100px;
    padding-top: 20px;
}
.number-bg h1{
    text-align: center;
}
.title{
    margin: 30px;
    width: 50%;
}
.title hr{
    border: solid 2px var(--color-one);
}
.activity{
    height: auto;
}
table{
    font-size: larger;
    width: 100%;
    background-color: var(--theme-one);
    border-radius: 10px;
}
td,th{
    padding: 10px;
}
table th{
    border-bottom: solid 2px var(--color-underline);
}
tr :hover{
    border-radius: 10px;
    background-color: var(--theme-six);
}
.activity-table .time{
    width: 25%;
}
/*halaman buku*/
.half{
    width: 40%;
    margin-right: 20px;
    height: max-content;
}
.gambar-buku{
    background-color: var(--theme-seven);
    width: 150px;
    margin: 10px;
    height: 200px;
}
.grid-buku{
    display: flex;
    flex-wrap: wrap;
}
.gambar-buku-list{
    background-color: var(--theme-seven);
    width: 150px;
    margin: 10px;
    height: 200px;
    padding-top: 140px;
    border-radius: 10px;
}
.gambar-buku-list a{
    color: var(--theme-one);
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #0000001c;
}
.info-buku{
    font-size: small;
    margin: 10px;
}
.deskripsi-buku{
    margin: 10px;
    overflow: hidden;
}
.underlined{
    border-bottom: solid 2px var(--color-underline);
}
.info-buku b, .info-siswa b, .info-admin b, .deskripsi-buku b{
    border-bottom: solid 2px var(--color-underline);
}
.menu-box{
    height: auto;
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-flow: dense;
}
@media (min-width:1200px) {
    .menu-container{
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
}
@media (max-width:760px) {
    .menu-container{
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
}
.menu-box a{
    font-weight: bold;
    display: block;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    color: var(--theme-one);
    text-align: center;
}
.menu-box a:hover{
    opacity: 50%;
}
.green1{
    background-color: var(--color-three);
}
.green2{
    background-color: var(--color-four);
}
.green3{
    background-color: var(--color-five);
}
/* Siswa */
.foto-siswa, .foto-admin{
    background-color: #dbdbdb;
    width: 120px;
    margin: 20px;
    height: 120px;
    border-radius: 100%;
}
/* edit */
.input{
 padding: 20px;
 
}
.input input{
    width: 100%;
    margin-top: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: 100ms ease;
}
.input textarea{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: 100ms ease;
    margin-top: 20px;
}
.input input:focus, .input input:hover, textarea:focus, textarea:hover{
    outline: none;
    border-left: solid 4px var(--color-five);
    border-radius: 0px ;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.icon{
    width: 50px;
}
.login-page{
    margin-top: 15%;
    margin-left: 5%;
}
.login-page-input{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: 100ms ease;
}
.login-page-title{
    margin: 5px;
    font-weight: bold;
    color: var(--color-one);
}
.login-page-input:focus, .login-page-input:hover{
    outline: none;
    border-left: solid 4px var(--color-five);
    border-radius: 0px ;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.button1{
    background-color: var(--color-one);
    width: 100%;
    padding: 5px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.solid{
    background-color: var(--color-one);
    width: 100%;
}
.login-row{
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}
